<html>
	<head>
		<style>
			body { max-width: 600px; margin: 0 auto; font-family: Roboto; font-style:
			normal; color: #141313; } @media screen and (max-width:1024px) {
			#sit-dog-box img{ max-width:100px !important; } } #sit-dog-box img{
			max-width: 265px } #paw { width: 24px; height: 22.6px; margin-top: 12px;
			margin-right:8px; } #final-text{ margin:auto; height: fit-content; } a {
			text-decoration-line: underline; color: #ef971c; } .flex { display: flex;
			} .text-align-center { text-align: center; } .box-margin { margin: 25px
			25px 30px 25px; } .title { font-weight: 400; font-size: 18px; line-height:
			20px; } .color-orange { color: #ef971c; } .text { font-weight: 400;
			font-size: 15px; line-height: 20px; } .width100 { width: 100%; }
			.list-item { font-weight: 700; font-size: 18px; line-height: 20px; color:
			#ffffff; padding: 8px 14px; background: #ef971c; border-radius: 100%;
			height: fit-content; margin-right: 18px; } .list-title { font-weight: 500;
			margin-bottom: 0; } .margin-top-0 { margin-top: 0; }
		</style>
	</head>
	<body>
		<section class='box-margin'>
			<div class='text-align-center' style='margin-bottom: 38px'>
				<img
					src='https://firebasestorage.googleapis.com/v0/b/ohmydog-33ee8.appspot.com/o/emailing-images%2Fohmydog-icon.png?alt=media&token=ef5b4e45-9914-4b30-be84-1fb0073700ef'
				/>
			</div>
			<div>
				<div class='flex'>
					<img
						id='paw'
						src='https://firebasestorage.googleapis.com/v0/b/ohmydog-33ee8.appspot.com/o/emailing-images%2Fpaw.png?alt=media&token=aa3c1b3c-782a-48ad-8c9e-d08510c5da1b'
					/>
					<p class='title'>Hola <span class='color-orange'>{{name}}.</span></p>
				</div>
				<p class='text'>Bienvenido al mundo perruno de Oh My Dog!</p>
				<p class='text'>
					Para nosotros, la seguridad y el bienestar tanto de los usuarios como
					de las mascotas es nuestra máxima prioridad. Por favor, asegúrese de
					leer esta breve guía sobre cómo mantenerse seguro mientras utiliza
					OMD.
				</p>
			</div>
		</section>

		<img
			class='width100'
			style='margin-bottom: -80px; border-radius: 10px 10px 0 0'
			src='https://firebasestorage.googleapis.com/v0/b/ohmydog-33ee8.appspot.com/o/emailing-images%2Fperro-mujer-fondoblanco.jpg?alt=media&token=e11bc815-ebaa-47d3-91b5-233753a31f8e'
		/>
		<section class='box-margin'>
			<div class='text-align-center'>
				<p class='title'>SIGUE ESTOS PASOS</p>
				<p class='title'>Requisitos si buscas una mascota</p>
			</div>
			<div>
				<div class='flex'>
					<p class='list-item'>1</p>
					<div>
						<p class='title list-title'>Investiga</p>
						<p class='text margin-top-0'>
							Adoptar un animal de compañía es un compromiso enorme. Asegúrese
							de que ha investigado a fondo la raza y de que es la mascota
							adecuada para usted.
						</p>
						<p class='text'>
							Aprenda más sobre las diferentes razas a través de nuestra
							<a href='https://ohmydog.io/razas-de-perros'>biblioteca de razas</a>
						</p>
					</div>
				</div>
				<div class='flex'>
					<p class='list-item'>2</p>
					<div>
						<p class='title list-title'>
							Confirme que el anunciante es auténtico
						</p>
						<p class='text margin-top-0'>
							Organice una visita a la mascota en el sitio de trabajo del
							anunciante. No acepte ninguna excusa para enviar dinero sin que se
							haya producido una visita, o si el anunciante intenta reunirse con
							usted en otro lugar que no sea el propio lugar en donde tiene a
							las mascotas.
						</p>
					</div>
				</div>
				<div class='flex'>
					<p class='list-item'>3</p>
					<div>
						<p class='title list-title'>
							Los cachorros DEBEN ser vistos con la madre
						</p>
						<p class='text margin-top-0'>
							El anunciante debe permitirle SIEMPRE ver a los cachorros con su
							madre. Si se le niega esto, podría ser una señal de que las
							mascotas no han sido criadas por el anunciante y posiblemente sean
							importadas, o la descripción en el anuncio no sea verídica. OMD no
							permite la venta de cachorros a terceros.
						</p>
					</div>
				</div>
				<div class='flex'>
					<p class='list-item'>4</p>
					<div>
						<p class='title list-title'>
							Nunca recoja un cachorro por debajo de la edad mínima requerida
						</p>
						<p class='text margin-top-0'>
							Los cachorros deben tener al menos 8 semanas de edad y estar
							completamente destetados antes de poder dejar a sus madres.
						</p>
					</div>
				</div>
				<div class='flex'>
					<p class='list-item'>5</p>
					<div>
						<p class='title list-title'>Compruebe la salud de la mascota</p>
						<p class='text margin-top-0'>
							El vendedor debe estar dispuesto a permitirle llevar a la mascota
							a un veterinario de su elección para que la revise y devolverla en
							un plazo de 48 horas para que le devuelva el dinero si hay
							problemas de lesión o enfermedad que tiene origen anterior a la
							venta.
						</p>
						<p class='text'>
							Si el cachorro ya ha sido sometido a un examen de salud, asegúrate
							de tenerlo documentado y llame a su veterinario.
						</p>
					</div>
				</div>
				<div class='flex'>
					<p class='list-item'>6</p>
					<div>
						<p class='title list-title'>Haz muchas preguntas al criador</p>
						<p class='text margin-top-0'>
							Los criadores responsables desean que su mascota encuentre un
							hogar cariñoso y estarán encantados de responder a sus preguntas.
						</p>
					</div>
				</div>
				<div class='flex'>
					<p class='list-item'>7</p>
					<div>
						<p class='title list-title'>Si tiene dudas, aléjese</p>
						<p class='text margin-top-0'>
							Si cree que una mascota puede ser objeto de una cría
							irresponsable, no "salve" al animal realojándolo.
						</p>
						<p class='text'>Denuncie al vendedor inmediatamente.</p>
					</div>
				</div>
			</div>
		</section>
		<section class='box-margin' style='border-bottom: 1px solid #c4c4c4'>
			<div style='text-align: center'>
				<p class='title'>BIENESTAR ANIMAL</p>
				<p class='title'>Conciencia y responsabilidad</p>
			</div>
			<div id='sit-dog-box' class='flex' style='gap: 15px'>
				<div>
					<img
						src='https://firebasestorage.googleapis.com/v0/b/ohmydog-33ee8.appspot.com/o/emailing-images%2Fperro-sentado-elipse-de-fondo.png?alt=media&token=b0f41329-e218-44fb-98a6-a0d1724c4c92'
					/>
				</div>
				<div id='final-text'>
					<p class='text'>
						El realojamiento de una mascota es una experiencia fantástica, y es
						tentador ignorar los consejos de seguridad cuando se ve un animal
						adorable.
					</p>
					<p class='text'>
						Sin embargo, le aconsejamos encarecidamente que dedique tiempo a
						asegurarse de que sigue un proceso de realojamiento seguro. Esto
						también le convertirá en un propietario creíble y responsable a los
						ojos del criador o protectora.
					</p>
				</div>
			</div>
		</section>
		<section class='box-margin'>
			<p class='text'>
				Atentamente,<br />
				El equipo de Oh My Dog
			</p>
		</section>
	</body>
</html>